<div class="container">
  <h1>Welcome to the Library</h1>
  <div class="col-sm-8">
    <table class="table table-bordered" >
      <tr>
        <th>Literature</th>
        <th>Science</th>
        <th>Sports</th>
        <th>Art</th>
      </tr>
      <tr ng-repeat="shelf in library">
        <!-- Use ng-show and ng-hide to tell if book is checked out -->
        <!-- Check if the book is preset and it has a title -->
        <td ng-show="shelf.literature.presence || !(shelf.literature.title.length>0)" ng-click="onClick(shelf.literature)">{{shelf.literature.title}}</td>
        <td ng-hide="shelf.literature.presence || !(shelf.literature.title.length>0)" style="background-color:red;" ng-click="onClick(shelf.literature)">{{shelf.literature.title}}</td>

        <td ng-show="shelf.science.presence || !(shelf.science.title.length>0)" ng-click="onClick(shelf.science)">{{shelf.science.title}}</td>
        <td ng-hide="shelf.science.presence || !(shelf.science.title.length>0)" style="background-color:red;" ng-click="onClick(shelf.science)">{{shelf.science.title}}</td>

        <td ng-show="shelf.sports.presence || !(shelf.sports.title.length>0)" ng-click="onClick(shelf.sports)">{{shelf.sports.title}}</td>
        <td ng-hide="shelf.sports.presence || !(shelf.sports.title.length>0)" style="background-color:red;" ng-click="onClick(shelf.sports)">{{shelf.sports.title}}</td>

        <td ng-show="shelf.art.presence || !(shelf.art.title.length>0)" ng-click="onClick(shelf.art)">{{shelf.art.title}}</td>
        <td ng-hide="shelf.art.presence || !(shelf.art.title.length>0)" style="background-color:red;" ng-click="onClick(shelf.art)">{{shelf.art.title}}</td>
      </tr>
    </table>
  </div>

  <div class="col-sm-4">
    <form class="" action="index.html" method="post">

    </form>
  </div>

</div>
