<div>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div class="pageHeader"><h1>Login Form Validation {{title}}</h1></div>
    <form name="form" ng-submit="login(form.valid)" role="form">   

    <div class="formCred">
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" class="formCred" ng-model="username" ng-required="required" />
        <p ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required.</p>
    </div>
    <div class="formCred">
        <label for="password">Password</label><br><br>
        <input type="password" name="password" id="password" class="formCred" ng-model="password" ng-required="required" />
        <p ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required.</p>
    </div>
    <div class="submit">
        <button type="submit" ng-disabled="form.$invalid || dataLoading" class="submitButton">Login</button>
    </div>
</form>

</div>
